@import url(https://fonts.googleapis.com/css?family=Inconsolata:100,200,300,400,500,600,700,800,900);

* {
  font-family: "Inconsolata";
  color: black;
}

hr {
  color: black;
}

strong {
  font-weight: bolder;
}
