@import url(https://fonts.googleapis.com/css?family=Inconsolata:100,200,300,400,500,600,700,800,900);

* {
  font-family: "Inconsolata";
  color: black;
}

hr {
  color: black;
}

strong {
  font-weight: bolder;
}

.about__icon {
  fill: #3fc1c9 !important;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  margin: 5% auto;
}

.experience__job {
  margin: 5% 0 0;
}

.experience__job__image {
  width: 110px;
  display: flex;
  margin: 0 auto;
}

.experience__job__company {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.experience__job__position {
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
}

.experience__job__date {
  text-align: center;
  font-size: 0.99em;
  font-weight: normal;
  color: #a8a8a8;
  line-height: 1em;
}

.footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5% 0%;
}

.footer__cv {
  position: relative;
  margin: 0 auto;
  padding: 5%;
}

.footer__made {
  margin-bottom: 0;
  font-size: 1em;
  color: #363533;
}

.footer__links {
  margin: 0;
}

.footer__link {
  font-size: 1em;
  color: #363533;
}

.home__hello {
  font-size: 1.2em;
}

.hello {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 0.7em;
}

.header__info__name {
  font-size: 1.3em;
  font-weight: bold;
}

.header__info__content {
  margin: 2%;
  font-size: 1.1em;
  font-weight: 300;
}

.header__info__icon {
  margin: 0 3% 10%;
  font-size: 17px;
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover {
  color: #3fc1c9;
}

.logo__container {
  margin: 7vh;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.us {
  width: 100px;
}

/* Animations */

.gradient-border {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-right: 1%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 4.2rem;
  text-transform: uppercase;
  color: black;
  background: white;
  border-radius: 3px;
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  z-index: -1;
  width: calc(100% + 3px * 2);
  height: calc(100% + 3px * 2);
  background: linear-gradient(
    60deg,
    #236cd1,
    #2778cf,
    #2b84ce,
    #2f90cd,
    #339ccc,
    #37a8cb,
    #3bb4ca,
    #3fc1c9,
    #3fc1c9
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * 3px);
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .experience__job__company {
    font-size: 1.3em;
  }

  .experience__job__position {
    font-size: 1.2em;
  }

  .experience__job__date {
    -align: center;
    font-size: 1.1em;
  }

  .header__info__name {
    font-size: 1.5em;
  }

  .header__info__content {
    font-size: 1.2em;
  }

  .header__info__icon {
    font-size: 20px;
  }

  .footer__made {
    font-size: 1.1em;
  }

  .footer__link {
    font-size: 1.1em;
  }

  .logo__container {
    margin: 7vh;
  }

  .title {
    font-size: 1.5em;
  }
}
/* Mobile L */

@media screen and (min-width: 425px) and (max-width: 767px) {
  .experience__job__company {
    font-size: 1.3em;
  }

  .experience__job__position {
    font-size: 1.2em;
  }

  .experience__job__date {
    -align: center;
    font-size: 1.1em;
  }

  .header__info__name {
    font-size: 1.5em;
  }

  .header__info__content {
    font-size: 1.2em;
  }

  .header__info__icon {
    font-size: 20px;
  }

  .footer__made {
    font-size: 1.1em;
  }

  .footer__link {
    font-size: 1.1em;
  }

  .logo__container {
    margin: 7vh;
  }

  .title {
    font-size: 1.5em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 75% !important;
  }
  .experience__job__company {
    font-size: 1.3em;
  }

  .experience__job__position {
    font-size: 1.2em;
  }

  .experience__job__date {
    -align: center;
    font-size: 1.1em;
  }

  .header__info__name {
    font-size: 1.5em;
  }

  .header__info__content {
    font-size: 1.2em;
  }

  .header__info__icon {
    font-size: 20px;
  }

  .footer__made {
    font-size: 1.1em;
  }

  .footer__link {
    font-size: 1.1em;
  }

  .logo__container {
    margin: 7vh;
  }

  .title {
    font-size: 1.5em;
  }
}
/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 65% !important;
  }

  .header__info__icon {
    font-size: 25px;
  }

  .home__hello {
    font-size: 1.3em;
  }

  .experience__job__company {
    font-size: 1.3em;
  }

  .experience__job__position {
    font-size: 1.2em;
  }

  .experience__job__date {
    -align: center;
    font-size: 1.1em;
  }

  .header__info__name {
    font-size: 1.5em;
  }

  .header__info__content {
    font-size: 1.2em;
  }

  .footer__made {
    font-size: 1.2em;
  }

  .footer__link {
    font-size: 1.2em;
  }

  .logo__container {
    margin: 7vh;
  }

  .title {
    font-size: 1.5em;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .avatar {
    width: 100px;
    height: 100px;
  
  }

  .container {
    width: 65% !important;
  }

  .header__info__icon {
    font-size: 25px;
  }
  .experience__job__company {
    font-size: 1.3em;
  }

  .experience__job__position {
    font-size: 1.2em;
  }

  .experience__job__date {
    -align: center;
    font-size: 1.1em;
  }

  .home__hello {
    font-size: 1.6em;
  }

  .header__info__name {
    font-size: 1.5em;
  }

  .header__info__content {
    font-size: 1.2em;
  }

  .footer__made {
    font-size: 1.3em;
  }

  .footer__link {
    font-size: 1.3em;
  }

  .logo__container {
    margin: 7vh;
  }

  .title {
    font-size: 1.5em;
  }
}
